{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="modal-dialog">
		<div class="login-form">
			<div class="modal-content">
				<div class="tab-content">
					<div id="user-password" class="tab-pane fade in active">
						<div class="user-holder modal-header">
                            <h4 class="text-center" style="margin-bottom: 0;">
								Reset password</h4>
						</div>
						<div>
							<form class="user_form" method="post"
								  action="{% url 'accounts:resetPassword' %}">
								{% csrf_token %}
								<div class="modal-body modal-body-loader">
									<span class="alert-info">
									Configure your account with new password</span>
									<div class="input-filed">
										<i class="icon-key"></i>
										<input type="password"
											   placeholder="Enter new password"
											   name="password" value="" />
									</div>
									<div class="input-filed">
										<i class="icon-key"></i>
										<input type="password"
											   placeholder="Confirm password"
											   name="confirm_password" value="" />
									</div>
									<div class="input-filed input-field-btn">
										<div class="ajax-forgot-button input-button-loader">
											<input type="submit" class="reset_password cs-bgcolor"
												   name="submit" value="Reset Password">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}