{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="main-section">
	<!-- Home Pages Elements Strat -->
	<!-- Main Search Start -->
    {% include 'includes/main/main-search.html' %}
    <!-- Main Search End -->
	<!-- Browse By Cuisine Section Start -->
    {% include 'includes/main/cuisine.html' %}
    <!-- Browse By Cuisine Section End -->
	<!-- Popular Localities Section Start -->
    {% include 'includes/main/popular-localities.html' %}
    <!-- Popular Localities Section End -->
	<!-- Top Restarurants Section Start -->
    {% include 'includes/main/top-restaurants.html' %}
    <!-- Top Restarurants Section End -->
	<!-- Choose From Most Popular Listin Start -->
    {% include 'includes/main/most-popular-restaurants.html' %}
    <!-- Choose From Most Popular Listing End -->
	<!-- Choose From Most Popular comments Section Start -->
    {% include 'includes/main/popular-comments.html' %}
    <!-- Choose From Most Popular comments Section End -->
	<!-- Colunm Text Section Start -->
    {% include 'includes/main/app-link.html' %}
    <!-- Colunm Text Section End -->
	<!-- Client logo Section Start -->
    {% include 'includes/main/restaurant-logos.html' %}
    <!-- Client logo Section End -->
	<!-- Home Pages Elements End  -->
</div>
{% endblock %}
