<div id="add_menu_item_cart_from" class="collapse">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a href="#add_menu_item_cart_from" data-toggle="collapse" class="close-menu-item"
           aria-expanded="true"><i class="icon-close"></i></a>

        <!-- ADD FOOD ITEM MENUS-->
        <form method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="field-holder">
                        <label for="{{form_product.category.id_for_label}}">{{form_product.category.label}}</label>
                        <div class="restaurants-menu">
                            {{form_product.category}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="field-holder">
                        <label for="{{form_product.product_name.id_for_label}}">{{form_product.product_name.label}}</label>
                        {{form_product.product_name}}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="field-holder">
                        <label for="{{form_product.price.id_for_label}}">{{form_product.price.label}}</label>
                        {{form_product.price}}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="upload-gallery">
                        <label for="{{form_product.picture.id_for_label}}"
                               style="display: block; position: relative; color: #2f313a; font-size: 12px;
                                        line-height: 18px; margin-bottom: 8px;">{{form_product.picture.label}}</label>
                        <div id="{{form_product.picture.id_for_label}}" class="upload-gallery"
                             style="display: block !important;">
                            <label class="upload-btn foodbakery-dev-featured-upload-btn"
                                   style="font-weight: normal; position: initial !important;">
                                {{form_product.picture}}
                                Upload Image
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="field-holder" style="width: 500px;">
                        <label for="{{form_product.description.id_for_label}}">{{form_product.description.label}}</label>
                        {{form_product.description}}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="field-holder" >
                        <label for="preview_image">Preview</label>
                        <div class="item-thumb" style="height: 155px;">
                            <img id="preview_license"
                                 class="thumbnail"
                                 src=""
                                 alt="" style="height: 155px; width: 155px;" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="field-holder" style="width: fit-content;">
                        <label for="{{form_product.is_available.id_for_label}}">{{form_product.is_available.label}}</label>
                        {{form_product.is_available}}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="field-holder">
                        <input class="add-menu-item add-menu-item-list add-menu-item-list-295979393"
                               type="submit" value="Add to Menu Item list" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>